@import url('https://fonts.googleapis.com/css?family=Noto+Sans&display=swap');

body {
    font-family: 'Noto Sans', sans-serif;
    background-color:rgb(0, 153, 255);
}

header h1 {
    text-align: center;
    color: #fff;
    text-shadow: 2px 2px 10px #000;
}

main {
    width: 500px;
    margin: 0 auto;
    text-align: center;
    padding: 10px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 2px 2px 10px 2px rgb(117, 117, 117);
}

#anoNasc {
    margin: 10px auto;
}

#anoNasc input[type="number"] {
    margin-left: 5px;
    position: relative;
    top: -2px;
}

label {
    font-size: 18px;
}

#sexo {
    margin: 10px auto;
}

#sexo input[type="radio"] {
    margin-left: 15px;
}

#button {
    width: 115px;
    height: 35px;
    margin: 15px auto 10px auto;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    background-color: rgb(0, 81, 255);
    border: none;
    cursor: pointer;
}

#button:hover {
    background-color: rgb(0, 47, 255);
}

#resposta {
    margin: 15px auto 0 auto;
    font-size: 20px;
    font-weight: bold;
}
